Screen {
    layers: log node;
}

TextLog {
    layer: log;
}

Diagram {
    opacity: 0%;
    layer: node;

}

Node {
    layer: node;
    width: 4;
    height: 1;
    background: $secondary;
    border: tall $secondary;
    color: $background;
    box-sizing: content-box;
    text-style: bold;
    padding: 0 0;
    text-align: center;
}

VerticalLine {
    layer: node;
    border: tall greenyellow;
    max-width: 1;
    height: 10;
    offset-x: 1.5;
}

HorizontalLine {
    layer: node;
    border: greenyellow;
    max-height: 1;
    width: 20;
    offset-y: -1;
}

  